Usage of `EdDSA` algorithm

## Context

### In the specifications

The [VC JWT specification](https://w3c.github.io/vc-jwt/#credential-header) states the `alg` property should be defined as the algorithm used. [VC Data Model ](https://www.w3.org/TR/vc-data-model/#jwt-encoding) states similar things:

> `alg` MUST be set for digital signatures. If only the proof [property](https://www.w3.org/TR/vc-data-model/#dfn-property) is needed for the chosen signature method (that is, if there is no choice of algorithm within that method), the alg header MUST be set to `none`.

Both of the specifications refer to [RFC 7515 - JSON Web Signatures](https://www.rfc-editor.org/rfc/rfc7515) and [RFC 7519 - JSON Web Tokens](https://www.rfc-editor.org/rfc/rfc7519). **Neither** one of them mentions [RFC **7518** - JSON Web Algorithms](https://www.rfc-editor.org/rfc/rfc7518), which the JWT/JWS RFCs rely on.

### In `did-jwt` library

The [`did-jwt` library](https://github.com/decentralized-identity/did-jwt/) provides [two Signer methods: `ES256KSigner` and `EdDSASigner`](https://github.com/decentralized-identity/did-jwt/blob/master/docs/guides/index.md#signer-functions).

`ES256K` is a recognised JSON Web Algorithm. According to the RFC 7518 specification, however, `EdDSA` is not a recognised/allowed property for `alg`.

## Discussion

1. Is my interpretation correct, i.e., the `alg` property should _only_ be set to [`alg` values referenced in RFC 7518](https://www.rfc-editor.org/rfc/rfc7518#section-4)?
2. Is the `did-jwt` implementation, therefore, incorrect when using the `EdDSASigner` because of its non-standard usage?
3. Should the VC JWT specification elaborate on the `alg` property and specifically, defer to RFC 7518?
4. Despite RFC 7518, should we allow/disallow non-standard values for `alg` in VC JWT? A lot of DID methods use Ed25519 keys.

PS - I may have gotten something wrong in my interpretation of the RFCs and would be happy to be corrected if the above are false.



The VC Data Model does not require IANA registries for alg (and neither do the RFCs).

The registries are to recognize algorithms that people wanted interop on.

- https://www.iana.org/assignments/jwt/jwt.xhtml
- https://www.iana.org/assignments/jose/jose.xhtml

It is technically legal for you to make up a new string and start using it... but no off the shelf library will understand it... this is similar to how no libraries understand data integrity proof cryptosuites today... maybe they will in the future.